@page "/account/ForgotPasswordPage"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h3>ForgotPasswordPage</h3>

<EditForm Model="this" OnValidSubmit="ForgotPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="Email" />
    </p>

    <button type="submit">Submit</button>

</EditForm>


@code {
    string Email { get; set; }

    private async Task ForgotPassword()
    {
        var response = await HttpClient.PostAsJsonAsync("https://your.azure.function.url/function", new { email = Email });
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/account/ResetPasswordPage");
        }
        else
        {
            // Handle server error here
            // For example, show an alert to the user
        }
    }
}