@page "/account/ResetPasswordPage"
@using TheWatch.Maui.Services
@inject PasswordService PasswordService 
@inject NavigationManager NavigationManager

<h3>ResetPasswordPage</h3>

<EditForm Model="@this" OnValidSubmit="ResetPassword">
    <div>
        <label for="password">
            Password:
            <InputText type="password" @bind-Value="@Password" id="password"/>
        </label>
    </div>
    <div>
        <label for="confirmPassword">
            Confirm Password:
            <InputText type="password" @bind-Value="@ConfirmPassword" id="confirmPassword"/>
        </label>
    </div>
    <button type="submit">Submit</button>
</EditForm>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}

@code {
    public string Password { get; set; }
    public string ConfirmPassword { get; set; }
    private string errorMessage;

    private async Task ResetPassword()
    {
        if (Password == ConfirmPassword)
        {
            await PasswordService.ResetPassword(Password);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = "Passwords do not match";
        }
    }
}
